body {
  font-family: "AdventureIndianaJones";
}

.error-page {
  text-align: center;
  padding: 5vw 5vw;
}

.error-page h1 {
  font-size: 15rem;
  color: #ffffff;
  margin-top: 6vw;
}

.error-page p {
  font-size: 3rem;
  margin-top: -3vw;
  color: #ffffff;
}

.btn-back {
  display: inline-block;
  padding: 1vw 2vw;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  border-radius: 5vw;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: rgba(217, 217, 217);
}
